<template>
  <li>
    <div :class="{ bold: isFolder }" @click="toggle">
      {{ item.name }}
      <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
    </div>
    <ul v-show="isOpen" v-if="isFolder" class="tree">
      <tree-item
        v-for="(child, index) in item.children"
        :key="index"
        class="item"
        :data="child"
        @update:child="emitToRootUpdate"
        @open:file="emitToRootOpen"
      ></tree-item>
    </ul>
  </li>
</template>

<script>
import { computed, ref } from 'vue'

export default {
  name: 'TreeItem',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  emits: {
    'update:child': (url) => {
      return typeof url === 'string'
    },
    'open:file': (file) => {
      return (
        typeof file === 'object' &&
        file.hasOwnProperty('download_url') &&
        file.hasOwnProperty('name')
      )
    },
  },
  setup(props, { emit }) {
    const item = computed(() => props.data)
    let isOpen = ref(false)
    const isFolder = computed(() => props.data.type === 'dir')
    const url = computed(() => props.data.url)

    const toggle = () => {
      if (!isFolder.value) {
        emit('open:file', props.data)
        return
      }

      if (typeof props.children === 'undefined') {
        emit('update:child', url.value)
      }

      isOpen.value = !isOpen.value
    }

    const emitToRootUpdate = (childUrl) => {
      emit('update:child', childUrl)
    }

    const emitToRootOpen = (childFile) => {
      emit('open:file', childFile)
    }

    return {
      item,
      isOpen,
      isFolder,
      toggle,
      emitToRootUpdate,
      emitToRootOpen,
    }
  },
}
</script>

<style lang="scss" scoped>
ul.tree {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}

.item {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
</style>
