{% extends 'email/layoutV1.html.twig' %}

{% block title %}
    Bonjour {{ user_name }},
{% endblock %}

{% block content %}
    <p>
        Vous recevez ce message car nous avons reçu une demande de changement de votre mot de passe.<br />
        Ce lien expire dans 60 minutes.<br>
        Si vous n'êtes pas à l'initiative de cette demande, ne tenez pas compte de ce message.
    </p>
    <p>
        Cliquez sur le lien pour changer votre mot de passe
    </p>
{% endblock %}

{% set action_url = front_end_reset_invitation_url %}

{% block action_label %}
    Changez le mot de passe
{% endblock %}
