/** main color **/

$primary: #41b883;
$secondary: #346beb;
$accent: #41b883;

/** Global Color **/

$body-color: #f9f9f9;
$body-background-color: #050d21;
$title-color: #fff;
$subtitle-color: #8193b2;
$footer-background-color: #27282b;
$strong-color: #f9f9f9;

$white: #fff;
$smoke-white: #fcfcfc;
$light-white: #f9f9f9;

$placeholder: #cecece;
$muted-grey: #999;
$fade-grey: #ededed;
$accent-grey: #ccc;
$background-grey: #f0f0f0;
$section-grey: #fcfcfc;
$medium-grey: #ddd;
$light-grey: #eee;
$lighter-grey: #e5e5e5;
$widget-grey: #f5f6fa;

$dark-text: #283252;
$light-text: #a2a5b9;
$title-grey: #a9abac;

$danger: #e62965;
$info: #039be5;
$success: #06d6a0;
$warning: #faae42;

$h-purple: #8269b2;
$h-blue: #37c3ff;
$h-red: #f92b60;
$h-orange: #ffa981;
$h-yellow: #ffd66e;
$h-green: #93e088;
$h-pink: #ff9eb8;
$h-light-blue: #77d2f3;

$active: #6dcff6;

$sidebar: #344258;

$dark: $dark-text;
$dark-sidebar: #232326;
$dark-dark-text: #aaaab3;
$landing-dark-1: #0c0e14;
$landing-dark-2: #191c2b;

/** Brands colors **/
$javascript: #f7df1e;
$angular: #dd1b16;
$reactjs: #00d8ff;
$android: #a4c639;
$swift: #ef3e31;
$vuejs: #4dba87;
$wordpress: #21759b;
$csharp: #9a4993;
$nodejs: #6cc24a;
$html: #f16529;

$facebook: #3b5998;
$twitter: #1dcaff;
$linkedin: #007bb6;
$tumblr: #35465c;
$github: #444;
$dribbble: #ea4c89;
$google-plus: #d34836;
$youtube: #cc181e;
$reddit: #ff4500;
$invision: #f36;
$amazon: #f90;
$instagram: #e1306c;

/** fonts **/

$font: 'Titillium Web', sans-serif;
$font-alt: 'Roboto', sans-serif;
$font-monospace: 'Fira Code', monospace;

@import 'bulma/sass/utilities/_all.sass';
