{% apply inline_css %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
            /* Responsive design */
            @media screen and (max-width:600px){
                /* Largeur plein écran */
                .responsive-table{width:100% !important;max-width:100% !important;}
                .responsive-table-inner{height:auto;}
                .responsive-visual{max-width:100% !important;width:100% !important;height:auto !important;}
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=futura-pt" rel="stylesheet" type="text/css">
    </head>
    <body style="padding:30px;margin:0;background-color:#f1f1f1;">

        <div style="display:none !important;visibility:hidden;mso-hide:all;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">Pre header</div>

        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f1f1f1">
            <tr>
                <td align="center">
                    <!--[if mso]>
                    <style type="text/css">
                        table, td, div, p, span, strong, a{font-family:Arial, Helvetica, sans-serif !important;}
                    </style>
                    <![endif]-->
                    <br>
                    <table class="responsive-table" border="0" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td>
                                <!-- Contenu -->
                                <table border="0" cellpadding="30" cellspacing="0" width="100%" bgcolor="#ffffff" class="compatibility-mso" style="font-family:'Inknut Antiqua', Arial, Helvetica, sans-serif;font-size:14px;line-height:22px;">
                                    <tr>
                                        <td align="center">
                                            <strong style="font-size:20px;color:#f47820;">
                                                {% block title %}{% endblock %}
                                            </strong>
                                            <br><br>
                                            {% block content %}{% endblock %}
                                            {% if action_url is defined %}
                                                <br></br>
                                                <!-- Bouton -->
                                                <center>
                                                    <table border="0"  align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                        <tr>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;" align="center">
                                                                    <tr>
                                                                        <td height="38" align="center" bgcolor="#f47820" >
                                                                            <a href="{{ action_url|raw }}" target="_blank"
                                                                               style="font-family:'Inknut Antiqua', Arial, Helvetica, sans-serif;display:block;font-weight:500;padding: 10px 20px;display:block;text-decoration:none;border:0;text-align:center;font-size:12px;color:#ffffff;background:#f47820;border:1px solid #f47820;line-height:26px;text-transform:uppercase;font-weight:bold;">
                                                                                <strong style="color:#ffffff;">&nbsp;{% block action_label %}{% endblock %}&nbsp;</strong>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </center>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
{% endapply %}
