<template>
  <div>
    <header class="container">
        <h1 class="title has-text-centered mt-6">Git Hubexp</h1>
    </header>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <form @submit="showRepository" class="columns">
            <div class="is-four-fifths column">
              <input
                v-model="name"
                name="email"
                class="input is-large"
                type="text"
                placeholder="Repository name"
              />
              <span>{{ errorMessage }}</span>
            </div>
            <div class="column">
              <button type="submit" :disabled="!isValidName" class="button is-primary is-large is-fullwidth">
                {{ t('repository.button.show') }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="section">
      <div v-if="fileTree.length" class="columns">
        <div class="column is-one-quarter">
          <ul class="tree">
            <tree-item
              v-for="(child, index) in fileTree"
              :key="index"
              class="item"
              :data="child"
              @update:child="updateChild"
              @open:file="openFile"
            ></tree-item>
          </ul>
        </div>
        <div class="file-content column has-text-dark">
          <pre v-if="fileContent"><code v-html="fileContent"></code></pre>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Git Hubexp</strong> by
          <a href="https://github.com/NiniGeek">Adrien Bettini</a>
          made for <a href="https://specifyapp.com/">Specify</a>.
        </p>
      </div>
    </footer>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import { useHead } from '@vueuse/head'
import { useStore } from 'vuex'
import useRepository from '/@src/composable/store/useRepository'
import { usePrism, highlightFile} from '/@src/composable/vendor/usePrism'
import { useForm, useField, useIsFieldValid } from 'vee-validate';
import { useI18n } from 'vue-i18n'

useHead({ title: 'Home - Explore github' })

const Prism = usePrism()
const store = useStore()
const { t } = useI18n()

const isFormatValidated = (value) => {
  const regexValidation = new RegExp(/\w+\/\w+/)
  return regexValidation.test(value) || t('repository.invalid', {name: name.value})
}

const { handleSubmit, setFieldError } = useForm();
const { errorMessage, value: name } = useField('name', isFormatValidated);
const isValidName = useIsFieldValid('name')

useRepository(store)
const fileTree = computed(() => store.state.repository.fileTree)
let fileContent = ref('')


const showRepository = handleSubmit(() => {
  fileContent.value = ''
  store.dispatch('repository/fetchFilesByRepoName', name.value)
    .catch(() => {
      setFieldError('name', t('repository.notfound', {name: name.value}))
    })
})

const updateChild = (url) => {
  store.dispatch('repository/fetchFilesByUrl', url)
}

const openFile = (file) => {
  store
    .dispatch('repository/fetchFileContentByUrl', file.download_url)
    .then(() => {
      fileContent.value = highlightFile(file.name, store.state.repository.content)
    })
}
</script>

<style lang="scss" scoped>
@import '../scss/abstracts/_variables.scss';

h1 {
  text-shadow: 1px 1px 2px black;
  font-family: $font;
  font-size: 8rem;
}

.file-content {
  overflow-y: scroll;
}

section.section {
  min-height: 45vh;
}

footer strong {
  font-family: $font;
}

ul.tree {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
</style>
