{% extends 'email/layoutV1.html.twig' %}

{% block title %}
    Bonjour {{ user_name }},
{% endblock %}

{% block content %}
    <p>
        L'utilisateur "<em>{{ user_username }}</em>" ({{ user_name }}) a été crée.<br />
        Le mot de passe est : {{ user_plainPassword }}
    </p>
{% endblock %}

{% set action_url = frontEndRoutingBaseUrl %}

{% block action_label %}
    Se connecter
{% endblock %}
